<% provide(:title, t(".title")) %>
<div class = "form_padding">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <div>
        <%= link_to t(".btn_create"), new_admin_tour_path %>
      </div>
      <br>
      <div class = "import-file">
        <%= form_tag import_admin_tours_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= label_tag :overwrite, class: "checkbox inline" do %>
              <span><%= t(".overwrite") %></span>
              <%= check_box_tag :overwrite %>
          <% end %>
          <%= submit_tag t(".import"), class: "btn btn-success" %>
        <% end %>
      </div>
      <%= render "search" %>
      <% if !@tours.blank? %>
        <table class="table">
          <col width = "25%">
          <col width = "25%">
          <col width = "20%">
          <col width = "20%">
          <col width = "10%">
          <col>
          <thead>
            <tr>
              <th><%= sort_link(@q, :name, t(".name")) %></th>
              <th><%= sort_link(@q, :place, t(".place")) %></th>
              <th><%= sort_link(@q, :price, t(".price")) %></th>
              <th><%= sort_link(@q, :start_time, t(".start_time")) %></th>
              <th><%= sort_link(@q, :status, t(".status")) %></th>
              <th colspan = 3><%= t(".options") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @tours %>
          </tbody>
        </table>
        <%= will_paginate @tours %>
      <% else %>
    </div>
        <div class = "notice">
          <p><%= t(".notice") %><%= params[:q][:name_or_place_cont] %></p>
        </div>
      <% end %>
  </div>
</div>
