<% provide(:title, t(".title")) %>
<div class = "form_padding">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <%= link_to t(".btn_create"), new_admin_tour_path %>
      <%= render "search" %>
      <% if !@tours.blank? %>
        <table class="table">
          <col width = "25%">
          <col width = "25%">
          <col width = "20%">
          <col width = "20%">
          <col width = "10%">
          <col>
          <thead>
            <tr>
              <th><%= sort_link(@q, :name, t(".name")) %></th>
              <th><%= sort_link(@q, :place, t(".place")) %></th>
              <th><%= sort_link(@q, :price, t(".price")) %></th>
              <th><%= sort_link(@q, :start_time, t(".start_time")) %></th>
              <th><%= sort_link(@q, :status, t(".status")) %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @tours %>
          </tbody>
        </table>
        <%= will_paginate @tours %>
      <% else %>
    </div>
        <div class = "notice">
          <p><%= t(".notice") %><%= params[:q][:name_or_place_cont] %></p>
        </div>
      <% end %>
  </div>
</div>
