<tr>
  <td><%= booking.tour_name %></td>
  <td><%= booking.tour_place %></td>
  <td><%= number_to_currency currency(booking.tour_price) %></td>
  <td><%= l booking.tour_start_time, format: :short %></td>
  <td><%= l booking.tour_finish_time, format: :short %></td>
  <td><span class = "<%= booking.status %>"><%= enum_l booking, :status %></td></span>
  <td><%= l booking.created_at, format: :short %></td>
  <td>
    <% unless booking.tour.deleted? %>
      <% if booking.pending? %>
        <span class = "cancel"><%= link_to t(".btn_cancel"), booking_path(booking), method: :delete, data: {confirm: t(".confirm")} %></span>
      <% end %>
    <% else %>
      <span class = "destroyed"><%= t(".destroyed") %></span>
    <% end %>
  </td>
</tr>
