<div class="post_text">
  <p><%= t(".name") %>: <%= current_user.name %></p>
  <p><%= t(".tour_name") %>: <%= @tour.name %></p>
  <p><%= t(".tour_price") %>: <%= number_to_currency currency(@tour.price) %></p>
  <p><%= t(".tour_start_time") %>: <%= l @tour.start_time, format: :short %></p>
</div>
<%= form_for @booking do |f| %>
  <%= f.hidden_field :tour_id, value: @tour.id %>
  <%= f.hidden_field :payment_id, value: 1 %>
  <%= f.submit yield(:btn_confirm), class: "button button_3 elements_button" %>
<% end %>
