<div class="popular_item">
  <%= link_to tour_url(top_view) do %>
    <%= image_tag top_view.picture.url, size: Settings.size_img.home %>
    <div class="popular_item_content">
      <div class="popular_item_price">
        <p><%= t(".price") %>: <%= number_to_currency currency(top_view.price) %></p>
      </div>
      <div class="popular_item_title">
        <%= t(".place") %><%= top_view.place %>
      </div>
    </div>
  <% end %>
</div>
