<div class="news_post">
  <div class="post_title"><%= link_to tour.name ,tour_url(tour) %></div>
  <div class="post_meta">
    <ul>
      <li><%= l tour.created_at, format: :short %></li>
    </ul>
  </div>
  <div class="post_image">
    <%= image_tag tour.picture.url, size: Settings.size_img.news_tour %>
    <%= link_to t(".book"), new_booking_path(tour_id: tour.id), class: "post_image_box text-center" %>
  </div>
  <div class="post_text">
    <p><%= tour.description %></p>
  </div>
</div>
