<p><%= t ".txtHello" %> <%= @resource.email %>!</p>

<p><%= t ".txtNotice" %></p>

<p><%= link_to t(".btn_change"), edit_password_url(@resource, reset_password_token: @token) %></p>

<%= t ".content_html" %>
