<!-- Header -->

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header_container d-flex flex-row align-items-center justify-content-start">

          <!-- Logo -->
          <div class="logo_container">
            <div class="logo">
              <div>destino</div>
              <div>travel agency</div>
              <div class="logo_image"><img src="/assets/logo.png" alt=""></div>
            </div>
          </div>

          <!-- Main Navigation -->
          <nav class="main_nav ml-auto">
            <ul class="main_nav_list">
              <li class="main_nav_item"><%= link_to t(".txtHome"), root_path %></li>
              <li class="main_nav_item"><%= link_to t(".txtAboutUs"), about_path %></li>
              <li class="main_nav_item"><%= link_to t(".txtOffers"), offers_path %></li>
              <li class="main_nav_item"><%= link_to t(".txtNews"), news_path %></li>
              <li class="main_nav_item"><%= link_to t(".txtContact"), contact_path %></li>
              <% if user_signed_in? %>
                <li class = "main_nav_item">
                  <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                    <%= t(".menu_account") %>
                  </a>
                  <ul class = "dropdown-menu">
                    <li><%= link_to t(".txtProfile"), current_user %></li>
                    <% unless current_user.admin? %>
                      <li><%= link_to t(".txtBooking"), bookings_path %>
                    <% end %>
                    <% if current_user.admin? %>
                      <li><%= link_to t(".txtManagerTours"), admin_tours_path %>
                      <li><%= link_to t(".txtManagerBooking"), admin_bookings_path %>
                      <li><%= link_to t(".txtUsers"), admin_users_path %>
                      <li><%= link_to t(".txtCategory"), admin_categories_path %>
                    <% end %>
                    <li class = "divider">
                    <li><%= link_to t(".txtLogout"), destroy_user_session_path, method: :delete %></li>
                  </ul>
              <% else %>
                <li class="main_nav_item"><%= link_to t(".txtLogin"), new_user_session_path %></li>
              <% end %>
            </ul>
          </nav>
          <!-- Search -->
          <div class="search">
            <%= form_tag search_path, method: :get, class: "search_form" do %>
              <%= text_field_tag :keyword, "", class: "search_input ctrl_class", required: "required", placeholder: t(".your_place") %>
              <%= submit_tag "", class: "search_button ml-auto ctrl_class" %><img src="/assets/search.png" alt="">
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
